* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.left-box {
    width: 15%;
    background-color: #f1f1f1;
    padding: 20px;
    border-right: 1px solid #ccc;
    padding-left: 50px;
}

.middle-box {
    width: 50%;
    background-color: #fff;
    padding: 20px;
    border-right: 1px solid #ccc;
}

.right-box {
    width: 30%;
    background-color: #f9f9f9;
    padding: 20px;
}

.left-box ul li {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 300%;
}

.left-box>ul>li>button {
    border: none;
}

button{
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#logo{
    width: 140px;
    height: 70px;
}

#create{
    background-color:black;
    color: #ffffff;
    font-weight: 400;
    border: none;
    border-radius: 9999px;
    padding: 10px 55px;
    margin-top: 20px;
}

.topbar{
    width: 50%;
    height: 25px;
    position: absolute;
    display: flex;
    justify-content: center; 
    align-items: center;
    color: #5a4a7a;
    font-size: large;
}

.avatar {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.post-img {
    width: 100%;
}

.caption {
    clear: both;
    margin-top: 25px;
    margin-bottom: 10px;
}

.actions button{
    margin-right: 25%;
    border: none;
}

.profile {
    margin-top: 50px;
}