.center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(./assets/background.jpeg);
    filter: brightness(60%);
    z-index: -1; 
}

.container{
    margin: auto;
    width: 300px;
    height: 450px;
    background-color:aliceblue;
    padding: 40px 20px;
    border-radius: 10px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #5a4a7a;
    text-align: center;
}

p{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(50, 45, 52);
}

.field{
    padding: 10px;
    width: 270px;
    border-radius: 5px;
    border: 0.5px solid black;
}

button{
    padding: 10px;
    width: 290px;
    background-color: #5a4a7a;
    color: white;
    border: none;
    border-radius: 5px;
}

a{
    text-decoration: none;
    color:#5a4a7a;
    font-weight: bold;
    display: block;  
    text-align: center; 
}